---
layout: default
title: Arachnids
---

{% include breadcrumbs.html %}
# Arachnids
{% include children-list.html %}



  <div class="grid" role="list">
    <!-- Crab Spider -->
    <a class="tile" href="/gallery/animals/arachnids/" role="listitem">
      <div class="cover" role="img" aria-label="Crab Spider"
           style="background-image: url('/gallery/animals/arachnids/assets/crab-spider/D79A0274.jpg');"></div>
      <div class="content">
        <div class="title">Crab Spider</div>
        <div class="kicker">Kicker</div>
        <p class="desc">Description</p>
      </div>
    </a>

    <!-- Garden Spider -->
    <a class="tile" href="/gallery/animals/arachnids/" role="listitem">
      <div class="cover" role="img" aria-label="Jumping Mushrooms"
           style="background-image: url('/gallery/animals/arachnids/assets/garden-spider/E21A4310.jpg');"></div>
      <div class="content">
        <div class="title">Garden Spider</div>
        <div class="kicker">Kicker</div>
        <p class="desc">Description</p>
      </div>
    </a>
  </div>