{% assign segs = page.url | split:"/" | reject:"" | reject:"index.html" %}
<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol>
    <li><a href="{{ "/" | relative_url }}">Home</a></li>

    {% capture path %}{% endcapture %}
    {% for s in segs %}
      {% assign path = path | append:"/" | append:s %}
      {% assign label = s | replace:"-"," " | replace:".html","" | capitalize %}

      {% if forloop.last %}
        <li aria-current="page"><span>{{ label }}</span></li>
      {% else %}
        <li><a href="{{ path | append:"/" | relative_url }}">{{ label }}</a></li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
