<div class="hero-slideshow">
  {% for slide in include.slides %}
    <div class="hero-slide{% if forloop.first %} is-active{% endif %}">
      <a href="{{ slide.link | relative_url }}" class="hero-slideshow-link" aria-label="{{ slide.alt }}">
        <img
          src="{{ slide.src | relative_url }}"
          alt="{{ slide.alt }}"
          class="hero-slide-image {{ slide.transition }}">
        <h3 class="hero-slide-caption">{{ slide.caption }}</h3>
      </a>
    </div>
  {% endfor %}
</div>