

  <ul class="nav-menu">
    <li><a href="/gallery/">Gallery</a></li>

    <li class="dropdown">
      <button class="dropdown-toggle" type="button" aria-expanded="false">
        Categories
      </button>

      <ul class="dropdown-content">
        <li class="dropdown nested-dropdown">
          <button class="dropdown-toggle" type="button" aria-expanded="false">
            Animals
          </button>

          <ul class="dropdown-content nested-content">
            <li><a href="/gallery/animals/">Animals</a></li>
            <li><a href="/gallery/animals/arachnids/">Arachnids</a></li>
            <li><a href="/gallery/animals/birds/">Birds</a></li>
            <li><a href="/gallery/animals/insects/">Insects</a></li>
            <li><a href="/gallery/animals/mammals/">Mammals</a></li>
          </ul>
        </li>

        <li class="dropdown nested-dropdown">
          <button class="dropdown-toggle" type="button" aria-expanded="false">
            Fungi
          </button>

          <ul class="dropdown-content nested-content">
            <li><a href="/gallery/fungi/">Fungi</a></li>
            <li><a href="/gallery/fungi/crusts/">Crusts</a></li>
            <li><a href="/gallery/fungi/lichens/">Lichens</a></li>
            <li><a href="/gallery/fungi/mushrooms/">Mushrooms</a></li>
            <li><a href="/gallery/fungi/puffballs/pear-shaped-puffball/">Puffballs</a></li>
            <li><a href="/gallery/fungi/rusts/ash-rust/">Rusts</a></li>
          </ul>
        </li>
        <li class="dropdown nested-dropdown">
          <button class="dropdown-toggle" type="button" aria-expanded="false">
            Landscapes
          </button>

          <ul class="dropdown-content nested-content">
            <li><a href="/gallery/landscapes/">Landscapes</a></li>
            <li><a href="/gallery/landscapes/aurora/">Northern Lights</a></li>
            <li><a href="/gallery/landscapes/kennebec-river/">Kennebec River</a></li>
            <li><a href="/gallery/landscapes/portland-harbor-lights/">Portland Harbor Lights</a></li>
            <li><a href="/gallery/landscapes/ritter-farm-park/">Ritter Farm Park</a></li>
          </ul>
        </li>
        <li class="dropdown nested-dropdown">
          <button class="dropdown-toggle" type="button" aria-expanded="false">
            Macros
          </button>

          <ul class="dropdown-content nested-content">
            <li><a href="/gallery/macros/">Macros</a></li>
          </ul>
        </li>
        <li class="dropdown nested-dropdown">
          <button class="dropdown-toggle" type="button" aria-expanded="false">
            Plants
          </button>

          <ul class="dropdown-content nested-content">
            <li><a href="/gallery/plants/">Plants</a></li>
            <li><a href="/gallery/plants/ferns/">Ferns</a></li>
            <li><a href="/gallery/plants/mosses/">Mosses</a></li>
            <li><a href="/gallery/plants/vines/">Vines</a></li>
            <li><a href="/gallery/plants/trees/">Trees</a></li>
            <li><a href="/gallery/plants/wildflowers/">Wildflowers</a></li>
          </ul>
        </li>
      </ul>
    </li>

    <li class="dropdown">
      <button class="dropdown-toggle" type="button" aria-expanded="false">
        Field Notes
      </button>

      <ul class="dropdown-content">
        <li><a href="/field-notes/">Field Notes</a></li>
        <li><a href="/field-notes/arachnids/">Arachnids</a></li>
        <li><a href="/field-notes/birds/">Birds</a></li>
        <li><a href="/field-notes/fungi/">Fungi</a></li>
        <li><a href="/field-notes/insects/">Insects</a></li>
        <li><a href="/field-notes/lichens/">Lichens</a></li>
        <li><a href="/field-notes/mammals/">Mammals</a></li>
        <li><a href="/field-notes/plants/">Plants</a></li>
      </ul>

  </ul>
  