
<ul class="nav-menu">
    <li>
        <a href="/gallery/">Gallery</a>
    </li>
    <li class="dropdown">
        <button class="dropdown-toggle" type="button" area-expanded="false">Animals</button>

        <ul class="dropdown-content">
            <li><a href="/gallery/animals/">Animals</a></li>
            <li><a href="/gallery/animals/arachnids/">Arachnids</a></li>
            <li><a href="/gallery/animals/birds/">Birds</a></li>
            <li><a href="/gallery/animals/insects/">Insects</a></li>
            <li><a href="/gallery/animals/mammals/">Mammals</a></li>
        </ul>
    </li>
    <li class="dropdown">
        <button class="dropdown-toggle" type="button" area-expanded="false">Fungi</button>

        <ul class="dropdown-content">
            <li><a href="/gallery/fungi/">Fungi</a></li>
            <li><a href="/gallery/fungi/crusts">Crust</a></li>
            <li><a href="/gallery/fungi/lichens">Lichen</a></li>
            <li><a href="/gallery/fungi/mushrooms">Mushrooms</a></li>
            <li><a href="/gallery/fungi/puffballs/pear-shaped-puffball/">Puffballs</a></li>
            <li><a href="/gallery/fungi/rusts/ash-rust/">Rusts</a></li>
        </ul>
    </li>
    <li><a href="/gallery/landscapes/">Landscapes</a></li>
    <li><a href="/gallery/macros/">Macros</a></li>
    <li><a href="/gallery/plants/">Plants</a></li>
    <li><a href="/field-notes/">Field Notes</a></li>
</ul>
