---
layout: default
title: Rust
---

{% include breadcrumbs.html %}
{% include children-list.html %}

<h1>Rust (under construction)</h1>

  <div class="grid" role="list">
    <!-- Ash Rust -->
    <a class="tile" href="/gallery/fungi/mushrooms/blackening-slimespike" role="listitem">
      <div class="cover" role="img" aria-label="Ash Rust"
           style="background-image: url('/gallery/fungi/rust/assets/E21A1588.jpg');"></div>
      <div class="content">
        <div class="title">Ash Rust</div>
        <div class="kicker">Ash Rust</div>
        <p class="desc">Symbiotic with pine trees, especially Douglas-Fir.</p>
      </div>
    </a>

    <!-- Jumping Mushrooms -->
    <a class="tile" href="/gallery/fungi/mushrooms/slimespike" role="listitem">
      <div class="cover" role="img" aria-label="Jumping Mushrooms"
           style="background-image: url('/gallery/fungi/mushrooms/assets/slimespike/E21A6391.jpg');"></div>
      <div class="content">
        <div class="title">Jumping Mushrooms</div>
        <div class="kicker">Kicker</div>
        <p class="desc">Description</p>
      </div>
    </a>

    <!-- Turkeytail -->
    <a class="tile" href="/gallery/fungi/mushrooms/turkeytail" role="listitem">
      <div class="cover" role="img" aria-label="Turkeytail"
           style="background-image: url('/gallery/fungi/mushrooms/assets/turkeytail/E21A6273.jpg');"></div>
      <div class="content">
        <div class="title">Turkeytail</div>
        <div class="kicker">Kicker</div>
        <p class="desc">Description</p>
      </div>
    </a>
  </div>